:root {
  --primary-color: #0b336b;
  --accent-color: #1c588a;
  --background-color: #f4f6f8;
  --input-border-color: #d0d7de;
  --text-color: #2c3e50;
  --error-color: #e74c3c;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: light;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
